{% extends 'main.html' %}
{% load static%}

{% block content %}

<br>
<style>
    .small-font {
        font-size: 8px;
    }

    .small-font strong {
        font-weight: bold;
    }
.human-body {
    width: 207px;
    position: relative;
    height: 260px; /* Set a fixed height for the human body */
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}
.human-body svg:hover path {
    fill: #ff7d16;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: #57c9d5;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
}
#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}
</style>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img src="{{ profile.profile_image.url }}" alt="user-avatar" class="img-circle img-fluid">
                        </div>

                        <h3 class="profile-username text-center">{{profile.first_name}} {{profile.last_name}}</h3>

                        <hr>
                        <p class="text-center">{{athlete.event_group}}</p>
                        <hr>

                        <a href="{{ athlete.url_world_athletics }}" class="btn btn-primary btn-block"><b>Perfil World
                            Athletics</b></a>
                        <br>
                        <a href="{{ athlete.url_fpacompeticoes }}" class="btn btn-secondary btn-block"><b>Perfil
                            FPACompetições</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sobre mim:</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Treinador:</strong>

                        <p class="text-muted">
                            {{ athlete.main_coach}}
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Clube:</strong>

                        <p class="text-muted">{{ athlete.team_name}}</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Equipa:</strong>

                        <ul class="text-muted">
                            {% if athlete.psychologist %}
                            <li class="tag tag-danger">Psicologo: {{ athlete.psychologist}}</li>
                            {%endif%}
                            {% if athlete.second_coach %}
                            <li class="tag tag-danger">Treinador Adjunto: {{ athlete.second_coach}}</li>
                            {%endif%}
                            {% if athlete.agent %}
                            <li class="tag tag-success">Agente Desportigo: {{athlete.agent}}</li>
                            {%endif%}
                            {% if athlete.physiotherapist %}
                            <li class="tag tag-info">Fisioterapeuta: {{athlete.physiotherapist}}</li>
                            {%endif%}
                            {% if athlete.doctor %}
                            <li class="tag tag-warning">Médico: {{athlete.doctor}}</li>
                            {%endif%}
                            {% if athlete.nutritionist %}
                            <li class="tag tag-primary">Nutricionista: {{athlete.nutritionist}}</li>
                            {%endif%}
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show_athlete' athlete.id %}">Currículo Desportivo</a>
                            </li>              
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show_athlete_goals' athlete.id %}">Objetivos</a>
                              </li>
                            <li class="nav-item"><a
                                    class="nav-link"
                                    href="{% url 'show_athlete_personal_records' athlete.id %}">
                                Recordes Pessoais
                            </a></li>
                            <li class="nav-item"><a
                                    class="nav-link"
                                    href="{% url 'show_athlete_progression' athlete.id %}">
                                Progressão
                            </a></li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show_control_evaluation' athlete.id %}">
                                    Controlo e Avaliação Treino</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show_control_injuries' athlete.id %}" >Histórico Lesões</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show_athlete_wellness' athlete.id %}" >Wellness</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'show_athlete_antropometric' athlete.id %}" >Antropometria</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body" style="min-height: 750px;">
                        <div class="row">
                            <div class="col-lg-3 col-6">

                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ recent_antropometric_data.weight }} Kg</h3>
                                        <p>Peso</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-6">

                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ recent_antropometric_data.height }} cm<sup style="font-size: 20px"></sup></h3>
                                        <p>Altura</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-6">

                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ recent_antropometric_data.body_fat }} %</h3>
                                        <p>Massa Gorda</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-6">

                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>{{ recent_antropometric_data.body_muscle }} %</h3>
                                        <p>Massa Magra</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="area">
                                    <!-- Skinfold Measurements Table -->
                                    <h4>Pregas Cutâneas (mm)</h4>
                                    <table id="skinfold-measurements" class="table table-bordered small-font">
                                        <thead>
                                        <th><strong>Data da Avaliação</strong></th>
                                        <th><strong>Tricipal</strong></th>
                                        <th><strong>Subescapular</strong></th>
                                        <th><strong>Bicipal</strong></th>
                                        <th><strong>Ilio Cristal</strong></th>
                                        <th><strong>Supra Espinal</strong></th>
                                        <th><strong>Abdominal</strong></th>
                                        <th><strong>Coxa</strong></th>
                                        <th><strong>Gêmeo</strong></th>
                                        <th><strong>MG Somatório</strong></th>
                                        <th><strong>%MG</strong></th>
                                        <th><strong>Peso em MG (kg)</strong></th>
                                        </thead>
                                        <tbody>
                                        {% for data in antropometric_data %}
                                        <tr>
                                            <td>{{ data.date }}</td>
                                            <td>{{ data.prega_tricipal }}</td>
                                            <td>{{ data.prega_subescapular }}</td>
                                            <td>{{ data.prega_bicipal }}</td>
                                            <td>{{ data.prega_ilio_cristal }}</td>
                                            <td>{{ data.prega_supra_espinal }}</td>
                                            <td>{{ data.prega_abdominal }}</td>
                                            <td>{{ data.prega_coxa }}</td>
                                            <td>{{ data.prega_gemeo }}</td>
                                            <td>{{ data.mg_somatorio }}</td>
                                            <td>{{ data.body_fat }}</td>
                                            <td>{{ data.peso_mg }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <!-- Circumference Measurements Table -->
                                    <h4>Massa Magra (mm)</h4>
                                    <table id="circumference-measurements" class="table table-bordered small-font">
                                        <thead>
                                        <th><strong>Data da Avaliação</strong></th>
                                        <th><strong>Perímetro Braço Relaxado</strong></th>
                                        <th><strong>Perímetro Braço Contraído</strong></th>
                                        <th><strong>Perímetro Abdominal</strong></th>
                                        <th><strong>Perímetro de Ancas</strong></th>
                                        <th><strong>Perímetro de Coxa</strong></th>
                                        <th><strong>Perímetro de Gêmeos</strong></th>
                                        <th><strong>MM Somatório</strong></th>
                                        <th><strong>%MM</strong></th>
                                        <th><strong>Peso em MM (kg)</strong></th>
                                        </thead>
                                        <tbody>
                                        {% for data in antropometric_data %}
                                        <tr>
                                            <td>{{ data.date }}</td>
                                            <td>{{ data.perimeter_relax_arm }}</td>
                                            <td>{{ data.perimeter_strenght_arm }}</td>
                                            <td>{{ data.perimeter_abdominal }}</td>
                                            <td>{{ data.perimeter_hip }}</td>
                                            <td>{{ data.perimeter_thigh }}</td>
                                            <td>{{ data.perimeter_calf }}</td>
                                            <td>{{ data.mm_somatorio }}</td>
                                            <td>{{ data.body_muscle }}</td>
                                            <td>{{ data.peso_mm }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->



{% endblock content %}