{% extends 'main.html' %}
{% load static%}
{% block content %}
<br>

<!-- Main Section -->
<form class="form" method="POST" action="#" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Controlo Peso</h3>
                </div>
                <div class="card-body">
                    <input class="form-control form-control-lg" type="float" placeholder="Peso" name="weight">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Horas Dormidas</h3>
                </div>
                <div class="card-body">
                    <input class="form-control form-control-lg" type="float" placeholder="Valor em Horas" name="hours_sleep">
                </div>
            </div>
        </div>
    </div>
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Controlo Subjetivo de Carga</h3>
        </div>

        <div class="card-body">

            <div class="form-group">
                <label for="customRange1">Fadiga</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Muito Fresco</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Quase Sempre Cansado</span></div>
                </div>
                <input type="range" class="custom-range" id="fatigue" name="fatigue">
            </div>
            <div class="form-group">
                <label for="customRange2">Qualidade Sono</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Muito Descansado</span></div>
                    <div class="col-sm-4 text-center"><span>Dificulade em Adormecer</span></div>
                    <div class="col-sm-4 text-right"><span>Insonia</span></div>
                </div>
                <input type="range" class="custom-range custom-range-danger" id="sleep" name="sleep">
            </div>
            <div class="form-group">
                <label for="customRange3">Dores Musculares</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Sentindo se Bem</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Muitas Dores Musculares</span></div>
                </div>
                <input type="range" class="custom-range custom-range-teal" id="soreness" name="soreness">
            </div>

            <div class="form-group">
                <label for="customRange3">Nivel Stress</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Muito relaxado</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Altamente stressado</span></div>
                </div>
                <input type="range" class="custom-range custom-range-teal" id="stress" name="stress">
            </div>

            <div class="form-group">
                <label for="customRange3">Mood</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Muito Positivo e Motivado</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Altamente irritável, aborrecido e em baixo</span></div>
                </div>
                <input type="range" class="custom-range custom-range-teal" id="mood" name="mood">
            </div>

            <div class="form-group">
                <label for="customRange3">Nutrição</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Altamente Completa</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Muito Pobre</span></div>
                </div>
                <input type="range" class="custom-range custom-range-teal" id="nutrition" name="nutrition">
            </div>

            <div class="form-group">
                <label for="customRange3">Hidratação</label>
                <div class="row">
                    <div class="col-sm-4 text-left"><span>Bem Hidratado</span></div>
                    <div class="col-sm-4 text-center"><span>Normal</span></div>
                    <div class="col-sm-4 text-right"><span>Não bebi àgua</span></div>
                </div>
                <input type="range" class="custom-range custom-range-teal" id="hydration" name="hydration">
            </div>
        </div>
        <div class="card-footer">
    <button type="submit" class="btn btn-secondary float-right">Submeter</button>

        </div>
    </div>

</form>

{% endblock content %}