{% extends 'main.html' %}
{% load static %}

{% block content %}
<br>

<div class="container-fluid">
    <!-- Card 1 -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><strong>INTRODUÇÃO</strong></h3>
                </div>
                <div class="card-body">
                    <p>A academia olímpica é um projeto que pretende contribuir para o desenvolvimento dos atletas do Benfica, oferecendo-lhes as melhores condições para atingirem o seu potencial máximo. É um projeto integrado dentro do projeto olímpico que visa apoiar jovens com enorme talento, dando-lhes todas as condições para que possam explorar todo o seu potencial.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><strong>OBJETIVOS</strong></h3>
                </div>
                <div class="card-body">
                    <p>Os objetivos da academia olímpica são os seguintes:</p>
                    <ul>
                        <li>Proporcionar aos atletas da academia as condições necessárias para a sua formação e desenvolvimento desportivo, de acordo com os mais elevados padrões internacionais.</li>
                        <li>Apoiar os treinadores da academia na sua formação e desenvolvimento profissional, de forma a garantir que os atletas recebam o melhor treino possível.</li>
                        <li>Promover a cultura de alto rendimento na academia, incentivando os atletas a atingirem o seu potencial máximo.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><strong>ESTRATÉGIA</strong></h3>
                </div>
                <div class="card-body">
                    <p>Para atingir os seus objetivos, a academia olímpica do Benfica prevê as seguintes estratégias:</p>
                    <ul>
                        <li>Apoio financeiro: O Benfica concederá bolsas de estudo e prémios aos atletas e treinadores do projeto, de acordo com o seu desempenho desportivo e a sua dedicação ao atletismo.</li>
                        <li>Apoio técnico: A academia disponibilizará aos atletas uma equipa multidisciplinar de apoio, incluindo médicos, fisioterapeutas, nutricionistas, biomecânicos e psicólogos, para ajudar os atletas a atingirem o seu máximo potencial.</li>
                        <li>Apoio logístico: A academia olímpica do Benfica apoiará na organização de estágios, concentrações e competições, para que os atletas possam competir a nível internacional.</li>
                        <li>Apoio institucional: A academia olímpica do Benfica promoverá junto das entidades públicas e privadas, para garantir que os atletas tenham acesso às melhores condições de treino e competição.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Add more cards here as needed -->
    </div>

    <!-- Card 4 -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><strong>O NOSSO PROJETO</strong></h3>
                </div>
                <div class="card-body">
                    <p>O Projeto Academia Benfica Olímpico é um programa desportivo de excelência que visa apoiar jovens atletas com potencial para alcançarem o sucesso olímpico.</p>
                    <p>O programa é dividido em quatro fases:</p>
                    <ul>
                        <li><strong>Fase 1 </strong> – Identificação: Identificação e acompanhamento de atletas promissores nos escalões de formação</li>
                        <li><strong>Fase 2 </strong> – Seriação: Nesta fase, os atletas identificados como promissores na Fase 1 passam por um processo de seleção e classificação. Isso envolve avaliações mais detalhadas de suas habilidades, desempenho desportivo e potencial. Com base nessas avaliações, os atletas são classificados e priorizados de acordo com seu potencial para alcançar o sucesso olímpico. Os critérios de seriação podem incluir fatores como idade, habilidades técnicas, resultados em competições anteriores e compromisso com o projeto.</li>
                        <li><strong>Fase 3 </strong> – Integração: Após a seriação, os atletas selecionados são integrados no programa da Academia Benfica Olímpico. Isso envolve proporcionar-lhes acesso a recursos e oportunidades adicionais para desenvolver suas habilidades desportivas. Os atletas recebem mais treino especializado, suporte médico e psicológico, bem como orientação sobre nutrição. A integração visa criar um ambiente propício para o desenvolvimento contínuo dos atletas e para que eles alcancem o sucesso olímpico.</li>
                        <li><strong>Fase 4 </strong> – Permanência: Nesta fase, o programa concentra-se em manter os atletas no caminho do sucesso olímpico a longo prazo. Isso envolve o acompanhamento constante de seu progresso, ajustando o treino conforme necessário e fornecendo o suporte necessário para superar desafios e obstáculos. A permanência visa garantir que os atletas continuem a se desenvolver e aprimorar suas habilidades ao longo do seu caminho até alcançar a excelência.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Add more cards here as needed -->
    </div>
</div>
{% endblock content %}
