{% extends 'main.html' %}
{% load static%}
{% block content %}
<br>
<div class="row">
   <div class="col-lg-2 col-6">
      <div class="small-box bg-info">
         <div class="inner">
            <h3>{{ wellness_7days.weight }} <sup style="font-size: 20px">Kg</sup></h3>
            <p>Peso</p>
         </div>
         <div class="icon">
            <i class="ion ion-stats-bars"></i>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-6">
        <div class="small-box {% if last_wellness_registration.fatigue >= 75 %}bg-danger{% elif last_wellness_registration.fatigue >= 60 %}bg-warning{% else %}bg-success{% endif %}">
        <div class="inner">
            <h3>{{wellness_7days.fatigue}}<sup style="font-size: 20px">%</sup></h3>
            <p>Fadiga</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        </div>
    </div>
   <div class="col-lg-2 col-6">
      <div class="small-box {% if last_wellness_registration.sleep_quality >= 75 %}bg-danger{% elif last_wellness_registration.sleep_quality >= 60 %}bg-warning{% else %}bg-success{% endif %}">
         <div class="inner">
            <h3>{{wellness_7days.sleep_quality}}<sup style="font-size: 20px">%</sup></h3>
            <p>Qualidade Sono</p>
         </div>
         <div class="icon">
            <i class="ion ion-stats-bars"></i>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-6">
      <div class="small-box {% if last_wellness_registration.muscle_soreness >= 75 %}bg-danger{% elif last_wellness_registration.muscle_soreness >= 60 %}bg-warning{% else %}bg-success{% endif %}">
         <div class="inner">
            <h3>{{wellness_7days.soreness}}<sup style="font-size: 20px">%</sup></h3>
            <p>Dores Musculares</p>
         </div>
         <div class="icon">
            <i class="ion ion-stats-bars"></i>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-6">
      <div class="small-box {% if last_wellness_registration.stress_level >= 75 %}bg-danger{% elif last_wellness_registration.stress_level >= 60 %}bg-warning{% else %}bg-success{% endif %}">
         <div class="inner">
            <h3>{{ wellness_7days.stress }}<sup style="font-size: 20px">%</sup></h3>
            <p>Nivel de Stress</p>
         </div>
         <div class="icon">
            <i class="ion ion-stats-bars"></i>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-6">
      <div class="small-box {% if last_wellness_registration.mood >= 75 %}bg-danger{% elif last_wellness_registration.mood >= 60 %}bg-warning{% else %}bg-success{% endif %}">
         <div class="inner">
            <h3>{{ wellness_7days.mood }}<sup style="font-size: 20px">%</sup></h3>
            <p>Mood</p>
         </div>
         <div class="icon">
            <i class="ion ion-stats-bars"></i>
         </div>
      </div>
   </div>
</div>
    <span>Média dos Últimos 7 dias</span>

<div class="card card-primary">
    <div class="card-header">
        <strong>Local: </strong> {{training_programme.local}} | <strong>Horas:</strong> {{training_programme.hours}} | <strong>Intensidade:</strong> {{training_programme.intensity}}
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                Aquecimento
            </div>
            <div class="card-body">
                <ul>
                {% for exercise in warmup %}
                    <li>{{ exercise }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Principal 
            </div>
            <div class="card-body">
                <ul>
                    {% for exercise in main %}
                        <li>{{ exercise }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CoolDown
            </div>
            <div class="card-body">
                <ul>
                    {% for exercise in cooldown %}
                        <li>{{ exercise }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Observações
            </div>
            <div class="card-body">
                <ul>
                    {% for exercise in obs %}
                        <li>{{ exercise }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}