body {
    background-image: url('/static/dist/img/login_default.jpg');
    background-size: cover;
}

.login-background {
    background-image: url('/static/dist/img/login_default.jpg');
    background-size: cover;
    /* Outras propriedades de estilo */
}