{% extends 'main.html' %}
{% load static%}
{% block content %}
<br>

<!-- Main Section -->
<form class="form" method="POST" action="#" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Controlo Subjetivo de Carga</h3>
        </div>

        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field_errors in form.errors %}
                        {% for error in field_errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                {{ form.athlete.label_tag }}
                {{ form.athlete }}
            </div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="form-group">
                {{ form.exercise.label_tag }}
                {{ form.exercise }}
            </div>
            <div class="form-group">
                {{ form.exercise_notes.label_tag }}
                {{ form.exercise_notes }}
            </div>
            <div class="form-group">
                {{ form.set.label_tag }}
                {{ form.set }}
            </div>
            <div class="form-group">
                {{ form.nr_repetitions.label_tag }}
                {{ form.nr_repetitions }}
            </div>
            <div class="form-group">
                {{ form.weight.label_tag }}
                {{ form.weight }}
            </div>
            <div class="form-group">
                {{ form.median_speed.label_tag }}
                {{ form.median_speed }}
            </div>            
            <div class="form-group">
                {{ form.median_rom.label_tag }}
                {{ form.median_rom }}
            </div>            
            <div class="form-group">
                {{ form.left_in_tank.label_tag }}
                {{ form.left_in_tank }}
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    {{ form.best_rep_avg_speed.label_tag }}
                    {{ form.best_rep_avg_speed }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.best_rep_max_speed.label_tag }}
                    {{ form.best_rep_max_speed }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.best_rep_rom.label_tag }}
                    {{ form.best_rep_rom }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.best_rep_power.label_tag }}
                    {{ form.best_rep_power }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-secondary float-right">Submeter</button>
        </div>
    </div>
</form>

{% endblock content %}
